extends layout

block content
  p(class='helpeeOnline') No one is online
  p(class="getCall") Helpee is calling...
    a(href="#", id="answer") Answer
    a(href="#", id='decline') Decline
  a(href="#", id='clearCanvas') Clear Canvas
  div(class='wrapper')
    video(id='remoteVideo',class="video-helper",autoplay)
    canvas(id="helperCanvas", class="canvas")
  script(src="socket.io/socket.io.js")
  script(src='/javascripts/helper.js')
  script(type="text/paperscript", src='/javascripts/helperdraw.js',canvas="helperCanvas")