extends layout

block content
  p Helper
  p(class="calling") Helpee is calling...
    a(href="#", id="answer") answer
  video(id='remoteVideo',autoplay)
  script(src="socket.io/socket.io.js")
  script(src='/javascripts/helper.js')