extends layout

block content
  p Helper
  p(class='helpeeOnline') Helpee is online
  p(class="calling") Helpee is calling...
    a(href="#", id="answer") answer
    a(href="#", id='decline') Decline
  div(class='wrapper')
    video(id='remoteVideo',class="video",autoplay)
    canvas(id="helperCanvas", class="canvas")
  script(src="socket.io/socket.io.js")
  script(src='/javascripts/helper.js')
  script(type="text/paperscript", src='/javascripts/helperdraw.js',canvas="helperCanvas")