extends layout

block content
  p Helpee
  h2(class='calling') Calling...
  video(id='localVideo', autoplay, muted='true')
  audio(id='remoteAudio',autoplay)
  a(href='#',id="makeCall") Call
  a(href='#', id="endCall") End Call
  script(src="/socket.io/socket.io.js")
  script(src='/javascripts/helpee.js')