body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

video {
	-webkit-transform: rotateY(-180deg);
	tranform: rotateY(-180deg);
}

.calling {
	display: none;
}

.helpeeOnline {
	display: none;
}

.wrapper {
	position: relative;
	width: 640px;
	height: 480px;
}

.video {
	position: absolute;
	top:0;
	left:0;
	width: 640px;
	height: 480px;
}

.canvas {
	position: absolute;
	top:0;
	left:0;
	
}

.canvas1 {
	width: 640px;
	height: 480px;
}