body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

video {
	-webkit-transform: rotateY(-180deg);
	tranform: rotateY(-180deg);
}

.calling {
	display: none;
}
